<div id="map" class="all-reports-map"></div>

<article id='all-reports'>
  <div class='sections prose' id='add-here'>
  <section id='cover' class='cover active'>
    <h4>Recent Reports</h4>
    <small class='scroll'>Scroll &#x25BE;</small>
  </section>
    <% @reports.each do |report| %>
      <section id='report-<%= report.id %>'>
        <div class="row">
          <h5><%= report.category.name %></h5>
        </div>
        <div class="row">
          <%= link_to image_tag(report.photo.small_thumb.url, class: "th radius"), report_path(report) %>
        </div>
          <span><small>Status: <%= report.status %></small></span><br>
          <span><small>Submitted: <%= local_time(report.created_at) %></small></span><br>
          <span><small>Last Updated: <%= local_time(report.updated_at) %></small></span>
    </section>
    <% end %>
    <section id='last-scroll' class="quiet">
      No More Reports
    </section>
  </div>
</article>



<%= content_for :extra_footer do %>
<% javascript_tag do %>
    $(function(){
      drawIndexReportMap();
    });
  <% end %>
<% end %>
