<div class="row">
  <div class="small-12 medium-4 columns">
    <%= image_tag(@report.photo.url,
        class: "report-image-#{@report.id}",
        alt: "#{@report.image_alt}" ) %>
  </div>
  <div class="small-12 medium-8 columns">
    <div class="row">
      <%= @report.category.name %>
    </div>
    <div class="row">
      Coordinates: <%= @report.latitude %>, <%= @report.longitude %>
    </div>
  </div>
</div>
<div class="row">
  <div>
    <%= @report.description %>
  </div>
  <div>
    Status: <%= @report.status %>
  </div>
</div>
<div class="row">
  <% if current_user == @report.user %>
    <%= link_to("Edit Report", edit_report_path(@report), class: "button alert tiny") %>
    <%= link_to("Delete Report", report_path(@report), method: :delete, confirm: true, class: "button alert tiny") %>
  <% end %>
</div>
