<div class="row">
  <div class="small-8 columns small-centered">
    <div class="row">
      <%= image_tag("lizvdk.jpg", class: "prof-pic", style: "float:left") %>
        <p>
          Brighter Boston was built as my "Breakable Toy" (capstone project) for <%= link_to "Launch Academy", "http://www.launchacademy.com/" %>.
          To submit real issues to the City of Boston, please use <%= link_to "Citizens Connect", "https://mayors24.cityofboston.gov:4443/" %>
        </p>
      </div>
        <div class="row text-center">
        <%= link_to (fa_icon "github 2x"), "https://github.com/lizvdk" %>
        <%= link_to (fa_icon "twitter 2x"), "https://twitter.com/lizvdk" %>
        <%= link_to (fa_icon "linkedin 2x"), "https://www.linkedin.com/in/lizvdk" %>
        <%= link_to (fa_icon "medium 2x"), "https://medium.com/@lizvdk" %>
      </div>
  </div>
</div>
