<!DOCTYPE html>
<html>
<head>
  <title>BreakableToy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">BreakableToy</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to "Report an Issue", new_report_path %></li>
        <li><%= link_to "View Reports", reports_path %></li>
        <% if current_user %>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <% flash.each do |key, value| %>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>
  <%= yield :extra_footer %>
</body>
</html>
