<!DOCTYPE html>
<html>
<head>
  <title>BreakableToy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:400,700" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Merriweather:400,300" %>
  <%= javascript_include_tag "https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js" %>
  <%= stylesheet_link_tag "https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css" %>
  <%= stylesheet_link_tag "vendor/flaticon" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><div class="title">
          Brighter <span class="title serif">Boston</span>
          </div></a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if signed_in? && current_user.admin? %>
          <li><%= link_to 'Admin Dashboard', admin_reports_path %></li>
        <% end %>
        <li><%= link_to "Report an Issue", new_report_path %></li>
        <li><%= link_to "View Reports", reports_path %></li>
        <% if current_user %>
          <li><%= link_to current_user.email, user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <% flash.each do |key, value| %>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <% end %>
  <%= yield %>
  <footer>
    <%= render "layouts/footer_content" %>
  </footer>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>
  <%= yield :extra_footer %>
</body >
</html>
